.c {
    color: #2196F3;
}

.c--f {
    color: #ffffff;
}

.c--0 {
    color: #000000;
}

.b-c {
    background-color: #2196F3;
}

.br-c {
    border-color: #2196F3;  
}

.d-i-b {
    display: inline-block;
}

.t-a-c {
    text-align: center;
}

.p-3 {
    padding: 3px;
}

.p-5 {
    padding: 5px;
}

.m-3 {
    margin: 3px;
}

.m-5 {
    margin: 5px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-15 {
    font-size: 15px;
}

.f-s-28 {
    font-size: 28px;
}

.f-s-30 {
    font-size: 30px;
}
