mixin tech
    div.tech.t-a-c
      img.img.m-5(src='https://s3.us-east-2.amazonaws.com/web-z36-bucket/images/sls.png')
      img.img.m-5(src='https://s3.us-east-2.amazonaws.com/web-z36-bucket/images/aws.png')